.fluid-gallery > ul {
  display: none; }

.fluid-gallery .fluid-gallery-window {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .fluid-gallery .fluid-gallery-window:before, .fluid-gallery .fluid-gallery-window:after {
    content: " ";
    display: table; }
  .fluid-gallery .fluid-gallery-window:after {
    clear: both; }
  .fluid-gallery .fluid-gallery-window .fluid-gallery-active-slide {
    width: 100%;
    position: relative;
    background-color: #FFF;
    z-index: 1; }
  .fluid-gallery .fluid-gallery-window.vertical .fluid-gallery-active-slide {
    width: 90%;
    float: right; }
  .fluid-gallery .fluid-gallery-window .fluid-gallery-next-slide {
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    opacity: 0;
    background-color: #FFF;
    z-index: 2; }
  .fluid-gallery .fluid-gallery-window .fluid-gallery-active-slide img,
  .fluid-gallery .fluid-gallery-window .fluid-gallery-next-slide img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    /* Don't forget to add position: relative; to your container. */
    top: 50%;
    transform: translate(-50%, -50%); }

.fluid-gallery .fluid-gallery-controls {
  display: table; }
  .fluid-gallery .fluid-gallery-controls.bottom {
    margin-top: 10px; }
  .fluid-gallery .fluid-gallery-controls.top {
    margin-bottom: 10px; }
  .fluid-gallery .fluid-gallery-controls.horizontal .fluid-gallery-previous-arrow,
  .fluid-gallery .fluid-gallery-controls.horizontal .fluid-gallery-next-arrow {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer; }
  .fluid-gallery .fluid-gallery-controls.horizontal .fluid-gallery-thumbnails {
    width: 99999px;
    height: 100%; }
    .fluid-gallery .fluid-gallery-controls.horizontal .fluid-gallery-thumbnails > ul {
      height: 100%; }
      .fluid-gallery .fluid-gallery-controls.horizontal .fluid-gallery-thumbnails > ul > li {
        display: block;
        float: left;
        height: 100%;
        padding: 2px; }
  .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window .fluid-gallery-thumbnails {
      position: absolute;
      top: 0;
      left: 0; }
      .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window .fluid-gallery-thumbnails > ul {
        padding: 0; }
        .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window .fluid-gallery-thumbnails > ul > li {
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window .fluid-gallery-thumbnails > ul > li img {
            background: #CCC;
            height: 100%;
            border: 1px solid #CCC;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
            .fluid-gallery .fluid-gallery-controls .fluid-gallery-thumbnails-window .fluid-gallery-thumbnails > ul > li img.active {
              border-color: #F00; }
